<div class="container mt-5">


  <h2 class="text-center">Adicionar Música</h2>

  <form (ngSubmit)="addMusic(title.value, artist.value, userId.value)">
    <div class="mb-3">
      <label for="title" class="form-label">Título da Música:</label>
      <input #title id="title" type="text" placeholder="Título" class="form-control" required/>
    </div>

    <div class="mb-3">
      <label for="artista" class="form-label">Artista:</label>
      <input #artist id="artista" type="text" placeholder="Artista" class="form-control" required/>
    </div>

    <div class="mb-3">
      <label for="userId" class="form-label">ID do Usuário:</label>
      <input #userId id="userId" type="text" placeholder="Nome do Usuário" class="form-control" required/>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Adicionar Música</button>
    </div>
  </form>

  <br/>
  <h3 class="text-center">Músicas Cadastradas</h3>
  <ul class="list-group">
    <li *ngFor="let music of musics" class="list-group-item d-flex justify-content-between align-items-center">
      <span>
        {{ music.title }} - {{ music.artist }} - {{ music.userId }}
      </span>
      <div>
        <button class="btn btn-warning btn-sm me-2" (click)="editMusic(music)" *ngIf="canEditOrDelete(music)">
          <i class="bi bi-pencil"></i>
        </button>
        <button class="btn btn-danger btn-sm" (click)="deleteMusic(music)" *ngIf="canEditOrDelete(music)">
          <i class="bi bi-trash"></i>
        </button>
      </div>
    </li>
  </ul>
</div>


